---
title: About Me
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>ABOUT ME</h2>
</div>

<main class="tags-content">
    <ul class="tags-list">
        <li>
            <div class=about-avatar><img src="/assets/img/profile.png" width=160px height=160px ></div> 
            <p style="text-align:center;font-size:30px;font-family: 'SourceSansPro';font-weight: lighter;">
                <br>SG4YK
            </p>
            <p style="text-align:center;font-size:15px;font-family: 'SourceSansPro','SourceHanSans';">
                ERO IS JUSTICE<br>
                エロ即是正义<br>
            </p>
            <p style="text-align:center;font-family: 'SourceSansPro';font-size:18px;">
                <br><a class="hover" href="mailto:sg4yk@outlook.com"><i class="iconfont icon-email"></i>Email</a>
                <br><a class="hover" href="//github.com/sg4yk"><i class="iconfont icon-github"></i>GitHub</a><br><br>
                
            </p>
        </li>
        <li>
            <p style="text-align:center;font-size:18px;font-family: 'SourceSansPro','SourceHanSans';">
                Be found of cats, doujinshi and PVC figures.<br><br>
                喜欢猫猫，本子和手办<br><br>
                ねこと同人誌とフィギュア好き
                
            </p>
        </li>
    </ul>

</main>

{% include footer.html %}