---
title: Friend Links
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>FRIEND LINKS</h2>
</div>

<main class="tags-content">
    <ul class="tags-list">
        <li>
            <div style="display:list-item; list-style-type:disc; margin-left:2em">
                <p style="text-align:left;font-size:26px;font-family: 'SourceSansPro','SourceHanSans';font-weight: lighter;" >
                    <a href="//blog.keep.moe" class="hover">Makito's Notebook 生活觀察筆記</a>
                </p>
            </div>
        </li>
        <li>
            <section class="post-footer-item comment">
                <div id="disqus_thread"></div>
            </section>
        </li>
    </ul>
</main>


{% include footer.html %}