---
title: Friend Links
layout: default

---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>FRIEND LINKS</h2>
</div>

<main class="tags-content">
    <ul class="tags-list">
        <li>
            <div style="display:list-item; list-style-type:disc; margin-left:2em">
                <p style="text-align:left;font-size:26px;font-family: 'SourceSansPro','SourceHanSans';font-weight: lighter;" >
                    <a href="//blog.keep.moe" class="hover">Makito's Notebook 生活觀察筆記</a>
                </p>
            </div>
        </li>
    </ul>
    {% if site.comments.disqus %}
    <section>
        <div class="post-footer-item" id="disqus_thread"></div>
    </section>
    {% endif %}
</main>
{% if site.comments.disqus %}
<script>
  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://sg4yk.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
{% endif %}




{% include footer.html %}